@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    background: radial-gradient(ellipse at right top, #151541 0%, #000000 100%);
    height: 2500px;
    overflow: hidden;
}

.header {
    background-color: rgba(12, 12, 12, 0);
    color: #fff;
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-el {
    display: inline;
}

.nav-el:not(:last-child) {
    margin-right: 20px;
}

.nav-el>a>img {
    height: 17px;
    margin-right: 8px;
    color: white;
    vertical-align: text-top;
}

.nav-el>a {
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

  
.undr-l-a>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.38s ease;
}
  
.undr-l-a>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.lang-li:hover .lang-list {
    display: block;
    animation: fadeIn 0.75s;
}

.lang-li {
    position: relative;
    display: inline-block;
}

.lang-list {
    display: none;
    height: 0;
    border-radius: 15%;
    background-color: rgba(8, 0, 83, 0.331);
    width: 100%;
    padding-top: 13px;
    position: absolute;
    z-index: 10;
    background-color: white;
    padding-bottom: 100px;
}

.lang-list-li>a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 400;
}

.lang-list-ul {
    padding: 0;
    list-style: none;
}

.lang-li>a>img {
    
}